	@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

	aside{
			width: 25%; 
			float: left;
			 margin-top: 20px;
		}

	body{
	background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2016/11/13/1043896/72db12a841c26cb3a8fbcf863af3b72d.jpg");
	 background-color: transparent;
	 background-position: center;
	}

	footer{
			float: left;
			 width: 97%; 
			 margin-top: 40px;
			 background-color: #000;
			 height: 50px;
			 padding: 20px;
			 font-family: 'Oswald', sans-serif
		}

	h3,h4{
			font-family: 'Oswald', sans-serif;
			font-weight: bold;
			text-align: center;
		}

	h3{
			color: #fff;
			font-size: 40px;
			
		}

	h4{
			font-size: 24px;
		}

	header{
			background-image: url("https://wallpaper-house.com/data/out/4/wallpaper2you_39226.jpg");
			 background-color: #C6BCB3; 
			 height: 200px;
			 background-position: 50% 50%;
			

		}
	
	nav{

			float: left;
			width: 100%;
			height: 25px;
			padding-top: 10px; 
			padding-bottom: 10px;
			background-color: #000;
		}

	nav ul{
			margin-left: 10px;
		}

	nav ul li{
			float: left;
		}

	nav ul li a{
			text-decoration: none;
			padding-top: 10px;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 10px;
			font-size: 22px;
			color: #fff;
			font-family: 'Raleway', sans-serif;
		}

	nav ul li a:hover{
			color: #7DE500;
		}



	.list-aside {
		  display: flex;
		  flex-direction: column;
		  align-items: start;
		  list-style-type: none;
		  opacity: 0.7;
		 
		}

	.list-aside ul li {
		    padding: 5px 0;
		}

    .list-aside  ul li a {
		      position: relative;
		      display: block;
		      padding: 4px 0;
		      font-family: 'Special Elite', cursive;
		      color: #fff;
		      text-decoration: none;
		      text-transform: uppercase;
		      transition: 0.5s;
		}

    .list-aside ul li a::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #7DE500;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

    .list-aside ul li a:hover {
        color: #95a5a6;
      }

    .list-aside ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
 


	.text-footer{
			margin: 20px;
			color: #fff;
		}

	.text-inicio{
			text-align: justify;
			margin-right: 20px;
			margin-top: 20px;
			font-family: Arial;
			padding: 10px;
			color: #fff;
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 20px;
		}
	.content-right{
			width: 75%;
			 float: left;
			  margin-top: 20px;

		}
		
	
		
		